@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&display=swap');

h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.intro p {
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 9px;
}

hr {
    border: 1px solid white;
    width: 50%;
}

footer{
    background-color: salmon;
    padding: 32px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

nav li {
    padding: 12px;
}

nav a:link, a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.nav_links {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    background-color: lightblue;
}

.active {
    background-color: lightslategrey; 
    font-weight: bold;
}

a.skip {
    background: black;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    /* Requirement 3 code here*/
    left: -500px;
     position: absolute;
  }

a.skip:focus {
    top: 20px;
    left: 0px;
}

.intro {
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repat;
    background-size: cover;
    background-color: navy;
    min-height: 300px;

    background-image: url(../images/header.jpg);
}

.welcome {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 80px 80px;
}

.welcome h2 {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px;
}

h2 {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0px 0px 20px 80px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: scroll;
    justify-items: center;
    padding: 0px 0px 0px 0px;
    background-color: lightblue;
}

.gallery {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

@media (prefers-reduced-motion){
    .gallery{
        animation: none;
    }
}

.gallery_content {
    position: relative;
}

.gallery_text {
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;
}

.gallery_text:hover {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery_image:hover {
    filter:none!important;
}

img {
    margin: 15px;
    width: 300px;
    border-radius: 7px;
}

img:hover {
    filter: grayscale();
} 


.page_gallery {
    /*position: relative;*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.page_gallery .flex_card {
    position: relative;
    max-width: 450px;
    background: lightblue;
    margin: 10px;
    padding: 8px;
    display: flex;
}

.page_gallery .flex_card .flex_image {
    max-width: 250px;
    flex: 0 0 150px;
}

.page_gallery .flex_card .flex_image img {
    max-width: 100%
}

.page_gallery .flex_card .flex_content {
    position: relative;
    margin-left: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 15px;
    padding: 15px;
}

.form {
    margin-bottom: 50px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.entry{
    border: solid black 1px;
    margin: 10px auto;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center; 
    border-radius: .5em;
    padding-bottom: 55px;
}
  
.submit{
    border-radius: .5em;
    font-size: 15;
    padding: 10px;
    text-transform: uppercase;
    width: 150px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    background-color: lightblue;
    text-align: center;
  
}

@media screen and (max-width: 480px) {
    .nav_links {
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: right;
        background-color: lightblue;
    }

    .welcome {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        padding: 40px 40px;
    }
    
    .welcome h2 {
        font-size: 30px;
        font-family: 'Josefin Sans', sans-serif;
        padding: 0px;
    }
    
    h2 {
        font-size: 30px;
        font-family: 'Josefin Sans', sans-serif;
        padding: 0px 0px 10px 40px;
    }
}